<input type="text" [(ngModel)]="searchText" class="form-control" placeholder="O que voc&ecirc; est&aacute; procurando?"/><br />
<table class="table table-hover">
  <thead>
          <tr>
              <th>C&oacute;digo</th>
              <th>Titulo</th>
              <th>Autor</th>
              <th>Categoria</th>
              <th>Editora</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let filmeTabela of filmes | filter:searchText">
              <a [routerLink]="[filmeTabela.codigo]">
                  <td>{{filmeTabela.codigo}}</td>
              </a>
              <td>{{filmeTabela.titulo}}</td>	
              <td>{{filmeTabela.autor}}</td>	
              <td>{{filmeTabela.categoria.descricao}}</td>	
              <td>{{filmeTabela.editora.nome}}</td>	
          </tr>
      </tbody>		
</table>
<span [hidden]="(filmes | filter: searchText).length != 0">
    Infelizmente n&atilde;o temos o que voc&ecirc; est&aacute; procurando
  </span>