<input type="text" [(ngModel)]="searchText" class="form-control" placeholder="O que voc&ecirc; est&aacute; procurando?"/><br />
<table class="table table-hover">
  <thead>
          <tr>
              <th>C&oacute;digo</th>
              <th>Nome da Editora</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let editoraTabela of editoras | filter:searchText">
              <a [routerLink]="[editoraTabela.idEditora]">
                  <td>{{editoraTabela.idEditora}}</td>
              </a>
              <td>{{editoraTabela.nome}}</td>	
             
          </tr>
      </tbody>		
</table>
<span [hidden]="(editoras | filter: searchText).length != 0">
        Infelizmente n&atilde;o temos o que voc&ecirc; est&aacute; procurando
</span>