<div class="tab-pane fade show active" id="cadastro" role="tabpanel" aria-labelledby="cadastro-tab">
  <br />
  <!--<button type="button" (click)="novo()" class="btn btn-info">Novo</button>
  <button type="button" (click)="salvar()" class="btn btn-success">Salvar</button>
  <button type="button" (click)="excluir()" class="btn btn-danger">Excluir</button>
  <button type="button" (click)="pesquisar()" class="btn btn-warning">Pesquisar</button>-->
  <br /><br />
  <form class="was-validated form-row" #cadastro="ngForm" (ngSubmit)="salvar()" >
      <div class="form-row">
        <div class="form-group col-md-2">
          <label for="inputCodigo">Codigo</label>
          <input type="text" [(ngModel)]="cliente.codigo" class="form-control" name="txtCodigo" disabled>
        </div>
        <div class="form-group col-md-6">
          <label for="nome">Nome</label>
          <input type="text" [(ngModel)]="cliente.nome" class="form-control is-valid"  #nome="ngModel" name="nome" minlength="5" required>
          <div [hidden]="nome.valid" class="invalid-feedback">
               Digite o nome.
          </div>
        </div>
        <div class="form-group col-md-4">
            <label for="cargo">Cargo</label>
            <input type="text" [(ngModel)]="cliente.cargo" class="form-control is-valid"  #cargo="ngModel" name="cargo" required>
            <div [hidden]="cargo.valid"  class="invalid-feedback">Digite o cargo. </div>
          </div>
      </div>
      <!-- -->
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="endereco">Endereço</label>
          <input type="text"  [(ngModel)]="cliente.endereco" class="form-control is-valid" #endereco="ngModel" name="endereco" required>
          <div  [hidden]="endereco.valid" class="invalid-feedback">Digite o endereço. </div>
        </div>
        <div class="form-group col-md-4">
          <label for="cidade">Cidade</label>
          <input type="text"  [(ngModel)]="cliente.cidade" class="form-control is-valid"  #cidade="ngModel" name="cidade" required>
          <div [hidden]="cidade.valid" class="invalid-feedback">Digite o cidade. </div>
        </div>
        <div class="form-group col-md-2">
            <label for="cep">Cep</label>
            <input type="text" [(ngModel)]="cliente.cep" class="form-control is-valid"  #cep="ngModel" name="cep" required>
            <div [hidden]="cep.valid"  class="invalid-feedback">Digite o cep. </div>
        </div>
      </div>                
      <!-- -->
      <div class="form-row">
          <div class="form-group col-md-4">
            <label for="pais">Pais</label>
            <input type="text" [(ngModel)]="cliente.pais" class="form-control is-valid"  #pais="ngModel" name="pais" required>
            <div [hidden]="pais.valid"  class="invalid-feedback">Digite o pais. </div>
          </div>
          <div class="form-group col-md-4">
            <label for="telefone">Telefone</label>
            <input type="text" [(ngModel)]="cliente.telefone" class="form-control is-valid" #telefone="ngModel" name="telefone" required>
            <div [hidden]="telefone.valid"  class="invalid-feedback">Digite o telefone. </div>
          </div>
          <div class="form-group col-md-4">
              <label for="fax">Fax</label>
              <input type="text" [(ngModel)]="cliente.fax" class="form-control is-valid"  #fax="ngModel" name="fax" required>
              <div [hidden]="fax.valid"  class="invalid-feedback">Digite o fax. </div>
          </div>
        </div> 
        
        <div class="container">
            <button class="btn btn-success" type="submit" [disabled]="cadastro.form.invalid" (click)="salvar()"> Enviar </button>
            <button class="btn btn-danger" type="button" [hidden]="isNew" (click)="excluir()"> Excluir </button>
            <button class="btn btn-warning" type="button" (click)="cancelar()"> Cancelar </button>
        </div>
    </form>
</div>

